@media only screen and (max-width: 800px) {

  #card table {
    border: 0;
  }

  #card table thead {
    display: none;
  }

  #card table tr {
    margin-bottom: 20px;
    display: block;
    border-bottom: 2px solid #ddd;
    box-shadow: 2px 2px 1px #dadada;
  }

  #card table td {
    display: block;
    text-align: left;
    /*font-size: 13px;*/
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
  }
  
  #card table td:last-child {
    border-bottom: 0;
  }
  
  #card table td::before {
    content: attr(data-title);
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  #card	tbody{
    line-height: 0!important;
  }
}