<footer>
    <div class='navbar fixed-bottom navbar-dark bg-dark justify-content-center align-items-center'>
        <p class='text-muted text-center small'>
<?php if ($config['core']['showCopyright']) { ?>
      This website or the authors have no relationship with Niantic, Nintendo or other any Pokémon Go responsible.<br/><br/>

      Pokémon Go is ©2016 Niantic, Inc. ©2016 Pokémon. ©1995–2016 Nintendo / Creatures Inc. / GAME FREAK inc.<br/><br/>
      
      Pokémon and Pokémon character names are trademarks of Nintendo. Other trademarks are the property of their respective owners.<br/>
<?php } ?>
      </p>
    </div>
</footer>