<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-image: linear-gradient(to top, #686868 0%, #121212 100%)">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.php" style="margin-right:10px;">
	  <?php if (!empty($config['ui']['icon'])) { ?>
		<img src="<?=$config['ui']['icon'] ?>" width="36" height="36" class="d-inline-block align-top" alt="">
	  <?php } ?>
      
	  <?php if (!empty($config['ui']['title-short'])) { ?>
		<?=$config['ui']['title-short']?>
	  <?php } ?>
    </a>
<?php if (!empty($config['discord']['inviteLink'])) { ?>
        <a href="" target="_blank"><img src="./static/images/discord.png" width="<?=$config['ui']['navBarIconSize'][0]?>" height="<?=$config['ui']['navBarIconSize'][1]?>"></a>
<?php } ?>
<?php if (!empty($config['urls']['patreon'])) { ?>
        <a href="<?=$config['urls']['patreon'] ?>" target="_blank"><img src="./static/images/patreon.png" width="<?=$config['ui']['navBarIconSize'][0]?>", height="<?=$config['ui']['navBarIconSize'][1]?>"></a>
<?php } ?>
<?php if (!empty($config['urls']['map'])) { ?>
        <a href="<?=$config['urls']['map'] ?>" target="_blank"><img src="./static/images/map.png" width="<?=$config['ui']['navBarIconSize'][0]?>" height="<?=$config['ui']['navBarIconSize'][1]?>"></a>
<?php } ?>
<?php if (!empty($config['urls']['paypal'])) { ?>
        <a href="<?=$config['urls']['paypal'] ?>" target="_blank"><img src="./static/images/paypal.png" width="<?=$config['ui']['navBarIconSize'][0]?>" height="<?=$config['ui']['navBarIconSize'][1]?>"></a>
<?php } ?>
<?php if (!empty($config['urls']['venmo'])) { ?>
        <a href="<?=$config['urls']['venmo'] ?>" target="_blank"><img src="./static/images/venmo.png" width="<?=$config['ui']['navBarIconSize'][0]?>" height="<?=$config['ui']['navBarIconSize'][1]?>"></a>
<?php } ?>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
<?php if ($config['ui']['pages']['dashboard']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['dashboard']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='dashboard' ? 'active' : '' ?>">
        <a class="nav-link" href="/dashboard"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_home'>Home</span> <span class="sr-only"></span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['pokemon']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['pokemon']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='pokemon' ? 'active' : '' ?>">
        <a class="nav-link" href="/pokemon"><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_pokemon'>Pokemon</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['raids']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['raids']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='raids' ? 'active' : '' ?>">
        <a class="nav-link" href="/raids"><i class="fa fa-fw fa-bolt" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_raids'>Raids</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['gyms']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['gyms']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='gyms' ? 'active' : '' ?>">
        <a class="nav-link" href="/gyms"><i class="fa fa-fw fa-shield" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_gyms'>Gyms</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['quests']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['quests']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='quests' ? 'active' : '' ?>">
        <a class="nav-link" href="/quests"><i class="fa fa-fw fa-search-plus" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_quests'>Quests</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['shinys']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['shinys']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='shinys' ? 'active' : '' ?>">
        <a class="nav-link" href="/shinys"><i class="fa fa-fw fa-star" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_shinys'>Shinys</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['nests']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['nests']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='nests' ? 'active' : '' ?>">
        <a class="nav-link" href="/nests"><i class="fa fa-fw fa-connectdevelop" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_nests'>Nests</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['stats']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['stats']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='stats' ? 'active' : '' ?>">
        <a class="nav-link" href="/stats"><i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_stats'>Stats</span></a>
      </li>
<?php } ?>
<?php if ($config['ui']['pages']['graphs']['enabled'] && (!$config['discord']['enabled'] || ($config['discord']['enabled'] && hasDiscordRole($_SESSION['user']['roles'], $config['ui']['pages']['graphs']['discordRoles'])))) { ?>
      <li class="nav-item <?=isset($_GET['page']) && $_GET['page']==='graphs' ? 'active' : '' ?>">
        <a class="nav-link" href="/graphs"><i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>&nbsp;<span data-i18n='nav_graphs'>Graphs</span></a>
      </li>
<?php } ?>
<?php if ($config['discord']['enabled'] && !empty($_SESSION['user'])) { ?>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-fw fa-user" aria-hidden="true"></i>&nbsp;<?php echo $_SESSION['user']['username']; ?></a>
      </li>
<?php } ?>
    </ul>
  </div>
</nav>